<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Elina Razina UI developer
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet")
        //- link(rel="stylesheet", href="../node_modules/bootstrap/")
    body
        .modal#modal.closed.modal-layer
            .about-me
                .upper-block
                    .photo
                    .social
                        a.social-link(href='https://vk.com/razina_elina' data-title="vkontakte" target="_blank")
                            i.fab.fa-vk(aria-hidden='true')
                        a.social-link(href="https://www.instagram.com/razina_elina/" data-title="instagramm" target="_blank")
                            i.fab.fa-instagram(aria-hidden='true')
                        a.social-link(href="https://teleg.run/Elina_Razina" data-title="@Elina_Razina" target="_blank")
                            i.fab.fa-telegram(aria-hidden='true')
                        a.social-link.download(href="./files/cv.pdf" data-title="cv" target="_blank")
                            i.far.fa-file(aria-hidden='true')
                .description-block
                    //- h2 Elina Razina
                    p.description
                    | I graduated in 2018 with a degree in Computer Science.
                    p.description
                    | I have a broad knowledge of the HTML, CSS and preprocessors, JS, npm, git and other technologies.

            i.far.fa-times-circle#close.close
        header
            //- nav.menu
            //-     ul.menu-list
            //-         li.menu-list-item
            //-             a(href='#tech') Технологии
            //-         li.menu-list-item 
            //-             a(href='#portfolio') Мои работы
            //-         li.menu-list-item 
            //-             a(href='#experience') Опыт работы
            //-         li.menu-list-item
            //-             a(href='#contacts') Контакты
            //-         li.menu-list-item 
            //-             a(href='#order') Заказать сайт
            //-         li.menu-list-item 
            //-             a(href='#blog') Блог
        #about.about
            h1.about-descriptioin 
                strong UI-DEVELOPER
            //- hr
            //- .social
            //-     a.social-link(href='https://vk.com/razina_elina' target="_blank")
            //-         i.fab.fa-vk(aria-hidden='true')
            //-     a.social-link(href="https://www.instagram.com/razina_elina/" target="_blank")
            //-         i.fab.fa-instagram(aria-hidden='true')
            //-     a.social-link(href="https://www.instagram.com/razina_elina/" target="_blank")
            //-         i.fab.fa-telegram(aria-hidden='true')
            a.about-modal-link#link(href="#") about me
            //- a#scroll.scroll
            //-     i.fa.fa-angle-double-down
            //-         span.btn-slide.top
            //-         span.btn-slide.right
            //-         span.btn-slide.bottom
            //-         span.btn-slide.left




            //- a.about-link(href="/contact.html") contact me


        .portfolio#portfolio
            h2 My Work
            .wrap-container
                .portfolio-card
                    h4.portfolio-what Website 
                    h3.portfolio-name Gardena
                    a.portfolio-link(href="/gardena.html") view project
                .portfolio-card
                    h4.portfolio-what WebApp 
                    h3.portfolio-name Webcam
                    a.portfolio-link(href="/webcam.html") view project
                .portfolio-card
                    h4.portfolio-what Website 
                    h3.portfolio-name Gizmopal
                    a.portfolio-link(href="/gizmopal.html") view project
        //-     .portfolio-card
        a.about-link(href="") view more projects

        //- .skills#skills
        //-     h2.h2heading My skill levels
        //-     .skill
        //-         #progressBar
        //-             div#inner
        //-         svg(width="200" height="200" version="1.1" xmlns="http://www.w3.org/2000/svg")
        //-             circle(cx="50" cy="50" r="48" fill="#434343" stroke-width="5" stroke="rgb(0,0,0)" text="HTML")
        //-             text 100

        //- #tech
        //-     .flex-container
        //-         h2 Технологии
        //-         h3 Верстка:
        //-             p HTML
        //-         h3 Стили:
        //-             p CSS
        //-         h3 Шаблонизаторы:
        //-             p PUG
        //-         h3 Препроцессоры:
        //-             p SASS, LESS, SCSS
        //-         h3 Языки:
        //-             p JS, PHP
        //-         h3 Фреймворки:
        //-             p Angular
        //-         h3 Системы контроля версий:
        //-             p GIT, Mercurial
        //- //- .portfolio
        //- //-     .flex-container
        //- //-         h2 Мои работ

        //- .work-experience
        //-     .flex-container
        //-         h2 Опыт работы
        //-         p   2019 - ЦРТ - frontend-разработчик
        //-         p   2017 - 2019 МТС ИТ - frontend-разработчик
        //-         p   2017 - Технсила - верстальщик

        //- //- #tech
        //- //-     .flex-container
        //- //-         h2 Заказать сайт

        //- //- #tech
        //- //-     .flex-container
        //- //-         h2 Блог

        //- .contacts
        //-     .flex-container
        //-         h2 Контакты
        //-     p.contacts-phone 
        //-         a +7(950)016-50-37
        //-     p.contacts-e-mail 
        //-         a razina_elina@mail.ru
        //-     p.contacts-git 
        //-         a www.github.com/ERazina
        //-     p.contact-resume
        //-         a Скачать резюме

        //- контакты


        footer.footer
            p.copyright
                | &copy
                - let date = new Date();
                span #{date.getFullYear()} Elina Razina. All rights reserved. 
            .social
                a(href='https://vk.com/razina_elina' target="_blank")
                    i.fab.fa-vk(aria-hidden='true')
                a(href="https://www.instagram.com/razina_elina/" target="_blank")
                    i.fab.fa-instagram(aria-hidden='true')
                a.social-link(href="https://teleg.run/Elina_Razina" data-title="@Elina_Razina" target="_blank")
                    i.fab.fa-telegram(aria-hidden='true')
    script(src="./js/script.js")