<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Сайт-портфолио Разиной Элины
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    body
        header
            //- nav.menu
            //-     ul.menu-list
            //-         li.menu-list-item
            //-             a(href='#tech') Технологии
            //-         li.menu-list-item 
            //-             a(href='#portfolio') Мои работы
            //-         li.menu-list-item 
            //-             a(href='#experience') Опыт работы
            //-         li.menu-list-item
            //-             a(href='#contacts') Контакты
            //-         li.menu-list-item 
            //-             a(href='#order') Заказать сайт
            //-         li.menu-list-item 
            //-             a(href='#blog') Блог
        #about.about
            h1.about-descriptioin UI-developer.
            a.about-link(href="") contact me


        .portfolaio#portfolio
            h2 Мои последние работы
            .portfolio-card

            .portfolio-card
            .portfolio-card
            .portfolio-card
            .portfolio-card
            .portfolio-card
            .portfolio-card
            button Посмотреть больше

        //- #tech
        //-     .flex-container
        //-         h2 Технологии
        //-         h3 Верстка:
        //-             p HTML
        //-         h3 Стили:
        //-             p CSS
        //-         h3 Шаблонизаторы:
        //-             p PUG
        //-         h3 Препроцессоры:
        //-             p SASS, LESS, SCSS
        //-         h3 Языки:
        //-             p JS, PHP
        //-         h3 Фреймворки:
        //-             p Angular
        //-         h3 Системы контроля версий:
        //-             p GIT, Mercurial
        //- //- .portfolio
        //- //-     .flex-container
        //- //-         h2 Мои работ

        //- .work-experience
        //-     .flex-container
        //-         h2 Опыт работы
        //-         p   2019 - ЦРТ - frontend-разработчик
        //-         p   2017 - 2019 МТС ИТ - frontend-разработчик
        //-         p   2017 - Технсила - верстальщик

        //- //- #tech
        //- //-     .flex-container
        //- //-         h2 Заказать сайт

        //- //- #tech
        //- //-     .flex-container
        //- //-         h2 Блог

        //- .contacts
        //-     .flex-container
        //-         h2 Контакты
        //-     p.contacts-phone 
        //-         a +7(950)016-50-37
        //-     p.contacts-e-mail 
        //-         a razina_elina@mail.ru
        //-     p.contacts-git 
        //-         a www.github.com/ERazina
        //-     p.contact-resume
        //-         a Скачать резюме

        footer.footer
            p.copyright
                | &copy
                - let date = new Date();
                span #{date.getFullYear()} Elina Razina. All rights reserved. 
            .social
                a(href='https://vk.com/razina_elina' target="_blank")
                    i.fab.fa-vk(aria-hidden='true')
                a(href="https://www.instagram.com/razina_elina/")
                    i.fab.fa-instagram(aria-hidden='true')
